@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&family=Rubik:wght@400;600;700&family=Satisfy&display=swap");

@font-face {
  font-family: "Muli";
  src: url("/Fonts/muli-200.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Muli";
  src: url("/Fonts/muli-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Muli";
  src: url("/Fonts/muli-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Muli";
  src: url("/Fonts/muli-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Muli";
  src: url("/Fonts/muli-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Muli";
  src: url("/Fonts/muli-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --yellow: #f7c147;
  --text-dark-blue: #244063;
  --text-bright-blue: #0017ae;
  --p-color: rgba(34, 35, 53, 0.7);
  --primary: #0c21ae;
}
.btn-primary {
  background: var(--primary);
  -webkit-box-shadow: 0px 8px 37px rgba(55, 81, 255, 0.35) !important;
  box-shadow: 0px 8px 37px rgba(55, 81, 255, 0.35) !important;
  color: #fff;
  border-color: var(--primary);
}

.btn-primary--sh-none {
  box-shadow: none !important;
}
p {
  color: var(--p-color);
}
.title {
  color: var(--text-dark-blue);
  font-weight: 500;
  font-size: 2.2rem;
}

.title.line-h-0 {
  line-height: 1.1;
  color: #0017ae;
}

th {
  color: var(--text-dark-blue);
}

td {
  font-size: 0.9rem;
}

.title--sm {
  font-size: 1.2rem;
}

.form-control.isinvalid,
.was-validated .form-control.isinvalid .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control {
  height: 50px;
}

.nav-item {
  position: relative;
  line-height: 35px;
}
/* .dropdown-menu {
  left: 0;
} */

@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.btn {
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.nav-item.active .nav-link {
  font-weight: 600;
}

.nav-item.active {
  border-bottom: 2px solid rgba(76, 88, 165, 1);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(55, 81, 255, 1) !important;
}

.form-container {
  min-height: auto;
}

.btn-primary {
  width: 100%;
}

.nav-content {
  display: none;
}

.title--large {
  font-size: 3rem;
  font-weight: 300;
  color: rgba(55, 81, 255, 1) !important;
}

@media only screen and (min-width: 768px) {
  .form-container {
    min-height: 100vh;
  }
  .btn {
    width: auto;
  }
  .title--big {
    font-size: 3rem;
    font-weight: 900;
    padding: 0 3rem;
  }

  .nav-content {
    display: block;
  }
}

.content__header:after {
  content: "";
  background-color: #0017ae;
  width: 25px;
  height: 4px;
  border-radius: 0px;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0px;
}

.tab__link {
  font-size: 0.9rem;
  padding: 0.7em 1em;
  color: rgba(0, 0, 0, 0.3);
}

.tab__link:hover {
  text-decoration: none;
}

.tab__link.active {
  color: #495057;
}

.link,
.link:hover {
  color: rgba(55, 81, 255, 1);
  text-decoration: none;
}

.tab__link::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  position: absolute;
  top: 100%;
  left: 0;
  transition: width 0.3s linear;
}

.tab__link.active::after {
  background: #00244f;
  width: 100%;
}

.table th {
  border-top: 0px solid #dee2e6;
}
.profile__title {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.5;
  color: #6b6b6b;
}
.profile__title--light {
  font-weight: 400;
}
.profile__status {
  font-size: 0.73rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
  min-width: 70px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: -9px !important;
  left: auto;
  z-index: 22;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1rem !important;
  font-weight: 600;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -9px !important;
  right: auto;
  z-index: 22;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1);
}

.square__avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

a.bg-light:focus,
a.bg-light:hover,
button.bg-light:focus,
button.bg-light:hover {
  background-color: #f8f9fa !important;
}

.modal-toast {
  position: absolute;
  right: 1%;
  top: 1%;
  z-index: 888;
}

#c-swiper .swiper-slide {
  width: auto;
}
#c-swiper .swiper-container {
  padding-left: 1.5rem;
}

.check-container {
  width: 80%;
}

.signup-screen {
  min-height: auto;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .signup-screen {
    min-height: 100vh;
    padding-top: 0rem;
    padding-bottom: 0;
  }
}

.loading-container {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-input {
  margin-bottom: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .custom-input {
    max-width: 220px;
    margin-bottom: 0;
  }
}

.custom-input::before {
  content: "ssssss";
  height: 35px;
  width: 35px;
  background: red;
}

th.custom {
  text-align: center;
}
.btn-outline-primary {
  border-color: #0448aa;
  color: #0448aa;
}

.btn-outline-primary:hover {
  background: rgb(4, 72, 170);
}

td {
  white-space: nowrap;
}

.question::after {
  content: "";
  height: 4px;
  width: 40px;
  display: block;
  background: rgba(55, 81, 255, 1);
}
