.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1000;
  display: none;
}

.isOpen {
  display: block;
}

.ModalContent {
  background: #fff;
  margin-left: auto;
  height: 100%;
  max-width: 0px;
  overflow: auto;
  padding: 4rem 2rem 2rem 2rem;
  transition: all 0.5s linear;
}

@keyframes slideLeft {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 700px;
  }
}

@keyframes opacityAnim {
  0% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 1;
    top: 0%;
  }
}

.heightAnim {
  animation-name: opacityAnim;
  animation-duration: 0.5s;
}

.ModalContentIsOpen {
  max-width: 700px;
  animation-name: slideLeft;
  animation-duration: 0.5s;
}

.ModalAvatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.ModalAvatarSmall {
  height: 50px;
  width: 50px;
}

.ModalName {
  font-size: 0.9rem;
  font-weight: 400;
  margin-right: 2rem;
}

.ModalNameFixed {
  min-width: 80px;
  margin-right: 0;
}

.ModalValue {
  font-size: 1rem;
  font-weight: 700;
  max-width: 60%;
}

.ModalHeader {
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

.ModalInfo {
  /* width: 48%; */
  background: #fcfcfc;
  border-radius: 8px;
}

.ModalArr {
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.ModalContentRight {
  min-width: calc(100% - 120px - 2rem);
}
