.Sidebar {
  width: 260px;
  background-color: #fff;
  position: relative;
}

.SideBrand {
  height: 65px;
}

.SidebarRight {
  width: calc(100% - 260px);
  overflow: auto;
}

.SideLinkContainer {
  margin-top: 80px;
}

.SideLink {
  display: flex;
  align-items: center;
  height: 60px;
  text-decoration: none !important;
  cursor: pointer;
  color: #222;
  border-left: 3px solid transparent;
  font-size: 0.9rem;
}

.SideLink:hover {
  border-left: 3px solid #3930d8;
}

.SideLinkActive {
  color: #3930d8;
  border-left: 3px solid #3930d8;
  font-size: 600;
  background: #f6f6fd;
}

.SideLinkActive:hover {
  border-left: 3px solid #3930d8;
}

.SideIcon {
  width: 20px;
  margin: 0 16px 0 8px;
}

.SideIcon path {
  fill: #222222b0;
}

.SideLinkActive .SideIcon path {
  fill: #3930d8;
}
.SideLink:hover .SideIcon path {
  fill: #3930d8;
}

.BtnContainer {
  bottom: 0rem;
  left: 0;
  position: absolute;
  width: 100%;
}
