.Sidebar {
  width: 280px;
  background-color: #f7f8fc;
}

.SideBrand {
  height: 80px;
}

.SidebarRight {
  width: calc(100% - 280px);
  overflow: auto;
}

.SideLinkContainer {
  margin-top: 80px;
}

.SideLink {
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 12px;
  text-decoration: none !important;
  cursor: pointer;
  color: #0c21ae;
}

.SideLink:hover {
  background: rgba(91, 91, 255, 0.1);
}

.SideLinkActive {
  color: #fff;
  background: #0c21ae;
}

.SideLinkActive:hover {
  background: #0c21ae;
  color: #fff;
}

.SideIcon {
  width: 20px;
  margin: 0 16px 0 8px;
}

.SideIcon path {
  fill: #0c21ae;
}

.SideLinkActive .SideIcon path {
  fill: #fff;
}
